{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media blog </title>
    <link rel="stylesheet" type="text/css" href="{% static 'cl/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cl/style.css' %}"/>
</head>
<body>
<hr>
<!--<p>Header</p>-->
<hr>
{% include "cl/header.html" %}
<div class="jumbotron">
      <div class="container">
            <h1 align="center">NEWS ROOM</h1>
          <h4 align="center"><a href="/admin">Admin Login</a></h4>
            {% block main_content %}
            {% endblock %}


          <br><br> <br>
            {% include "cl/footer.html" %}


      </div>

</div>

</body>
</html>